{"openapi":"3.1.0","info":{"title":"Cargo API","version":"1.0.0","description":"Cargo Platform API v1"},"servers":[{"url":"https://api.getcargo.io/v1","description":"Cargo API"}],"security":[{"bearerAuth":[]}],"paths":{"/ai/agents":{"post":{"summary":"Create agent","description":"Create a new AI agent","tags":["AI - Agents"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"title":"Request body","description":"Request body schema.","type":"object","properties":{"name":{"title":"Name","description":"Agent name.","type":"string"},"icon":{"title":"Icon","description":"Agent icon.","type":"object","properties":{"color":{"type":"string","enum":["grey","green","purple","yellow","blue","red"]},"face":{"type":"string"}},"required":["color","face"]},"description":{"title":"Description","description":"Agent description.","type":"string"},"triggers":{"title":"Triggers","description":"Agent triggers.","type":"array","items":{"anyOf":[{"type":"object","properties":{"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"type":{"type":"string","const":"cron"},"cron":{"type":"string"},"text":{"type":"string"}},"required":["name","description","type","cron","text"]},{"type":"object","properties":{"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"type":{"type":"string","const":"connector"},"connectorUuid":{"anyOf":[{"type":"string"},{"type":"null"}]},"integrationSlug":{"type":"string"},"config":{"type":"object","propertyNames":{"type":"string"},"additionalProperties":{}}},"required":["name","description","type","connectorUuid","integrationSlug","config"]}]}},"folderUuid":{"title":"Folder UUID","description":"Folder identifier for the agent.","type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12})$"}},"required":["name","icon","triggers"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"agent":{"title":"Agent","description":"Created agent details.","type":"object"}},"required":["agent"],"additionalProperties":false}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"500":{"description":"Internal server error"}}}},"/ai/agents/list":{"get":{"summary":"List agents","description":"List all AI agents in the workspace","tags":["AI - Agents"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"title":"Response body","description":"Response body schema.","type":"object","properties":{"agents":{"title":"Agents","description":"List of agents.","type":"array","items":{"type":"object"}}},"required":["agents"],"additionalProperties":false}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"500":{"description":"Internal server error"}}}},"/ai/agents/{uuid}":{"get":{"summary":"Get agent","description":"Get an AI agent by UUID","tags":["AI - Agents"],"parameters":[{"in":"path","name":"uuid","schema":{"title":"UUID","description":"Agent identifier.","type":"string","format":"uuid"},"required":true,"description":"Agent identifier."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"agent":{"title":"Agent","description":"Agent details.","type":"object"}},"required":["agent"],"additionalProperties":false}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"500":{"description":"Internal server error"}}},"put":{"summary":"Update agent","description":"Update an AI agent","tags":["AI - Agents"],"parameters":[{"in":"path","name":"uuid","schema":{"title":"UUID","description":"Agent identifier.","type":"string","format":"uuid"},"required":true,"description":"Agent identifier."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"title":"Request body","description":"Request body schema.","type":"object","additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"agent":{"title":"Agent","description":"Updated agent details.","type":"object"}},"required":["agent"],"additionalProperties":false}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"500":{"description":"Internal server error"}}},"delete":{"summary":"Remove agent","description":"Remove an AI agent","tags":["AI - Agents"],"parameters":[{"in":"path","name":"uuid","schema":{"title":"UUID","description":"Agent identifier.","type":"string","format":"uuid"},"required":true,"description":"Agent identifier."}],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"500":{"description":"Internal server error"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}}}}